@require '~vuepress-plugin-tabs/dist/themes/default.styl'

table {
    display: table !important;
    width: 100% !important;
}

.action-button {
    background-color: #ef192d;
    border-bottom: 1px solid #ef192d;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    padding: .8rem 1.6rem;
    transition: background-color .1s ease;
}

.tabs-component-panels {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.tabs-component-tab {
    border: none !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 0 !important;
    text-transform: capitalize;
}

.tabs-component-tab-a {
    color: #2c3e50 !important;
}

.tabs-component-tab-a:hover {
    text-decoration: none !important;
}

.tabs-component-tab.is-active {
    border-color: #f02b3e !important;
}
