@require '~vuepress-plugin-tabs/dist/themes/default.styl'

table {
    display: table !important;
    width: 100% !important;
}

.action-button {
    background-color: #ef192d;
    border-bottom: 1px solid #ef192d;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    padding: .8rem 1.6rem;
    transition: background-color .1s ease;
}
